<Config>
	<KeyBindings>
		<KeyBinding key="Attack" value="32"/>
		<KeyBinding key="Move Left" value="65"/>
		<KeyBinding key="Move Right" value="68"/>
		<KeyBinding key="Move Back" value="83"/>
	</KeyBindings>
	<Shaders>
		<Shader key="shader"/>
		<Shader key="textshader"/>
	</Shaders>
	<Fonts>
		<Font key="kenvector_future"/>
		<Font key="kenvector_future_thin"/>
	</Fonts>
</Config>

